{% load notifications_tags %}
{% notifications_unread as unread_count %}

<li class="nav-item dropdown">
  <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="ni ni-bell-55"></i>
    {% if unread_count %}
      <span class="badge badge-danger badge-pill">{{ unread_count }}</span>
    {% endif %}
  </a>
  <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right py-0 overflow-hidden">
    <!-- Dropdown header -->
    <div class="px-3 py-3">
      <h6 class="text-sm text-muted m-0">Anda memiliki <strong class="text-primary">{{ unread_count }}</strong> notifikasi belum dibaca.</h6>
    </div>
    <!-- List group -->
    <div class="list-group list-group-flush">
      {% for notification in request.user.notifications.unread|slice:":5" %}
        <a href="{% url 'mark_as_read' notification.id %}" class="list-group-item list-group-item-action">
          <div class="row align-items-center">
            <div class="col-auto">
              <i class="ni ni-bell-55 text-primary"></i>
            </div>
            <div class="col ml--2">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="mb-0 text-sm">{{ notification.actor }}</h4>
                </div>
                <div class="text-right text-muted">
                  <small>{{ notification.timestamp|timesince }} yang lalu</small>
                </div>
              </div>
              <p class="text-sm mb-0">{{ notification.verb }}</p>
            </div>
          </div>
        </a>
      {% empty %}
        <div class="list-group-item">
          <p class="text-center mb-0">Tidak ada notifikasi baru</p>
        </div>
      {% endfor %}
    </div>
    <!-- View all -->
    <a href="{% url 'all_notifications' %}" class="dropdown-item text-center text-primary font-weight-bold py-3">Lihat semua</a>
  </div>
</li>