{% extends 'layouts/base.html' %}

{% block title %} Upload Data Absensi {% endblock %}

{% block content %}
<h3>Upload Data Absensi</h3>
<form action="{% url 'upload_absensi' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file">Pilih File Absensi (.xls)</label>
    <input type="file" name="file" required>
    <button type="submit">Upload</button>
</form>

{% if processed_data %}
    <h3>Data Berhasil Diproses</h3>
    <a href="{% url 'download_absensi' %}" class="btn btn-success">Download Hasil</a>
{% endif %}

{% endblock %}
